boto3==1.28.14
botocore==1.31.14
cffi==1.15.1
cryptography @ file:///private/tmp/python-cryptography-20230801-6306-oaqugx/cryptography-41.0.3
docutils==0.20.1
jmespath==1.0.1
mysql==0.0.3
mysql-connector-python==8.1.0
mysqlclient==2.2.0
protobuf==4.21.12
pycparser==2.21
python-dateutil==2.8.2
PyYAML @ file:///private/tmp/pyyaml-20230717-6270-1iiwi1j/PyYAML-6.0.1
s3transfer==0.6.1
six==1.16.0
SQLAlchemy==2.0.21
typing_extensions==4.8.0
urllib3==1.26.16

